<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Navigation</title>
</head>
<body>
    <form action="/admin/nav/doAdd" method="POST" enctype="multipart/form-data">
        Title: <input type="text" name="title" id="title" />
        <br>
        <br>
        File (update): <input type="file" name="file" id="file" multiple/>
        <br>
        <br>
        Description: <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
        <br>
        <br>
        <input type="submit" value="submit"/>
    </form>
</body>
</html>